/* styles.css */
/*------------------------------------------------------------------------------
    Por: Johannes Nogueira
    Site: http://www.jmultimidia.com.br
-------------------------------------------------------------------------------*/
@import url("colors/default.css");
body {
  font-family: Arial, sans-serif;
}
* {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
#weather-exchange {
  border-radius:10px;
  border: 1px solid var(--secondary);
  padding: 10px;
}
#cotacoes-e-tempo {
  display: flex;
  align-items: center;
}
.cur, .wea {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.citem {
  display: flex;
  align-items: center;
}
.wtemp {
  display: flex;
  align-items: center;
}
#weather-icon img{
  height:35px
}
.wic {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}
.country {
  font-size: 10px;
  font-weight: 600;
}
.buy {
  font-size: 9px;
  line-height: 8px;
  margin-bottom:10px
}
.wcpop-cont {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.wcpop {
  background-color: var(--light-bg);
  margin: 5% auto;
  border: 1px solid var(--secondary);
  box-shadow: var(--medium-color);
  border-radius: 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .4), 0 5px 10px rgba(0, 0, 0, .2);
  width: 420px;
  height:370px
}
.slick-slider {
  width: 100%;
}
.weap, .curp {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#wheater, #cotizacion {
  display: inline-block;
  margin-left: 20px;
  padding-left: 20px;
  line-height: 60px;
  color: var(--medium-color);
  font-size: 14px;
}
.wcpop h4 {
  color: var(--default);
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 20px;
}
.wcpop .cotacao, .wheater {
  outline: none;
  width: 22%;
  color: var(--medium-color);
  background: var(--light-color);
  border-radius: 16px;
  margin:0 5px;
  padding: 8px;
  text-align: center;
  -webkit-box-shadow: 1px 1px 16px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 16px -7px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 16px -7px rgba(0,0,0,0.75);
}
.cprice.cpricec.ts {
  font-size: 16px;
}
.wheater .date {
  font-size: 15px;
  color: var(--secondary);
  text-transform: capitalize;
}
.wheater .icon > img {
  height: 30px;
}
.wheater .temp .num {
  font-size: 14px;
}
.wheater .temp-min-max .min-max {
  font-size: 10px;
}
@media (max-width: 599px) {
  .wcpop {
    margin: 25% auto;
    width: 370px;
    height:370px
  }
}